#canvas{
	border:2px solid black;
	margin-left:40%;
}
#restart{
	height:50px;
	width:50px;
	margin-left:38%;
}
#toc{
	margin-left:750px;
	
}
#cs{
	margin-left:30%;
	margin-top:-2.3%;
}